.colonne {
	margin: 15px 25px 0 25px;
	padding: 0;
}
.colonne:last-child {
	padding-bottom: 60px;
}
.colonne::after {
	content: '';
	clear: both;
	display: block;
}
.colonne div {
	position: relative;
	float: left;
	width: 200px;
	height: 150px;
	margin: 0 0 0 35px;
	padding: 0;
}
.colonne div:first-child {
	margin-left: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	background: #F4F4F4;
    overflow: hidden;}
    
